doctype html
html(lang="en")
    head
        include partials/header
    body.login
      .container

        .text-center
          h1.fw-bold.my-4.text-danger Un<span class="text-white">Task</span>
      
        if locals.mensajes
          .alertas
            each categoria in Object.keys(locals.mensajes)
                each error in mensajes[categoria]
                    .alerta(class=`${categoria}`)
                        p=error

        form.row.justify-content-center.align-items-center(method="POST" action="/crear-cuenta")
            .bg-dark.col-md-5.rounded.shadow
                h1.text-white.text-center.p-2 Crea tu cuenta 
                .mb-3
                 input.form-control.border(type="email" name="email" placeholder="Tu Email" value= email)
                .mb-3

                    input.form-control.border(type="password" name="password" placeholder="Tu Password" value= password)
                .mb-3.enviar
                    input.btn.btn-danger(type="submit" value="Crear Cuenta")
                .mb-3.acciones.d-flex.justify-content-between
                    a(href="/iniciar-sesion") Volver a iniciar Sesion
      