extends layout

include  mixins/crearProyecto


block content
    .container-fluid.py-4 
        h1.text-white= nombrePagina

        if errores 
          each error in errores
           .alertas
             .alerta(class=`error`)
                        p=error.texto
        +crearProyecto(proyecto)
